@font-face {
    font-family: 'Newake';
    src: url('fonts/Newake-Font-Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GillSans';
    src: url('fonts/GillSans.ttc') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*change background color*/
body {
    background-color: black;
}

.single-movie-container {
    display: flex;
    align-items: center;
    background-color: #1C1C1C;
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
}

.single-movie-title {
    /* CSS styles for the title */
    font-family: Newake, sans-serif;
    font-size: 50px;
    text-align: left;
    color: aliceblue;
    margin-left: 15px;
}

.single-movie-image {
    /* CSS styles for the image */
    width: 325px;
    height: 487px;
    margin-left: 30px;
    border-radius: 15px;
}

.single-movie-description {
    /*make the text align*/
    text-align: left;
    color: aliceblue;
    margin-left: 10px; /* Adjust this margin as needed */
    font-family: "Arial Black", sans-serif;
}

.single-movie-button {
    /* CSS styles for the button */
}

