# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\De la Peña\Documents\Segundo año UCC\arrieta-de la Peña- douglas\proyecto2023-arrieta-delapena-douglas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
